.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .title{
        display: flex;
        width: 360px;
        justify-content: space-between;
    }
    .title h2{
        font-weight: 500;
        margin-top: 35px;
        order: 1;
    }
    .title img{
        order: -1;
        margin-top: 30px;
        width: 30px;
        height: 30px;
    }
    .list-sort{
        margin-top: 40px;
        order : 2;
        font-size: 14px;
    }

.heart-img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    }
.new{
    color: black;
    font-weight: bold;
    margin-right: 5px;
}
.hit{
    color : rgba(0, 0, 0, 0.2);
    margin-right: 5px;
}
.like{
    color : rgba(0, 0, 0, 0.2);
}
.list-box{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    }
.list-box-text{
    width: 240px;
    margin-top: 25px;
    }
.list-box-text h2{
    margin-bottom: 15px;
}
.btns{
    margin-top: 10px;
    width: 100%;
}
hr{
    color : rgba(0, 0, 0, 0.2);
    }
.thumnail{
    margin-top: 15px;
    margin-left: 15px;
}
